body {
    text-align: center;
    font-family: "Roboto";
    margin: 0px;
    background-image: url("img/bb.jpg");
    background-size: 100%;
}


.about {
    background-color: black;
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px black;
}

.projects {
    background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px black;
    margin: 100px 50px 50px 50px;
}

.project-content {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 45px 50px 50px 20px;
}

.project-thumbnail {
    display: inline-block;
    height: 256px;
    border: 2px solid lightgray;
}
<<<<<<< HEAD

=======
>>>>>>> 237d3bd7eb59375c215a505c5ea4768e343e2ee2
